.menuBtn {
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  right: 0;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;
  @media screen and (min-width: 1200px) {
    display: none;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background-color: #ffb459;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background-color: #ffb459;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background-color: #ffb459;
    }
    &.open {
      transform: rotate(180deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}

.navMobile {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffb459;
  width: 80vw;
  height: 100vh;
  z-index: 1;
  // padding: 33px;
  opacity: 0.98;
  visibility: hidden;
  overflow: auto;
  transform: translateX(-100%);
  @include transition-ease;

  @media screen and (min-width: 1200px) {
    display: none;
  }
  &.open {
    visibility: visible;
    transform: translateX(0);
  }

  & > .menuNav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    list-style-type: none;
    padding-left: 18px;
    & .item {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & .link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;
      text-decoration: none;
    }
  }

  & > .authLink {
    width: 80%;
    margin: 70px auto 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  & .signin,
  & .join {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  & .join {
    display: flex;
    align-items: center;
    color: #ffb459;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    padding: 0 30px;
    height: 35px;
    margin-top: 32px;
  }

  // & .signout {
  //   display: flex;
  //   align-items: center;
  //   font-weight: 500;
  //   font-size: 16px;
  //   line-height: 20px;
  //   text-decoration: none;
  //   color: #ffb459;
  //   background: #ffffff;
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  //   padding: 0 30px;
  //   height: 35px;
  //   margin-top: 32px;
  // }
}