@import "../styles/global";

.createNewPass {
  @include margin-width();
  @include auth-form();

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.25rem;
    &:first-child {
    }
  }
  
  &__error {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.3rem;
  }

  @media screen and (min-width: 768px) {
    // position: relative;
    width: 55%;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 1rem 5rem 2rem;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      border: 1px solid #ffb459;
      box-sizing: border-box;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 45%;
  }

  @media screen and (min-width: 1350px) {
    width: 33%;
  }
}
