@import "../styles/global";

.login {
  @include margin-width();
  @include auth-form();

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-bottom: 3.25rem;
    }
  }

  &__subtext {
    font-weight: normal;
    font-size: .75rem;
    line-height: 1rem;
    text-align: right;
    margin: 1rem 0 2.75rem;
  }

  &__link {
    color: #ffb459;
  }

  @media screen and (min-width: 768px) {
    // position: relative;
    width: 55%;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 1rem 5rem 2rem;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      border: 1px solid #FFB459;
      box-sizing: border-box;
    }
    &__subtext {
      text-align: right;
      // margin: 1rem 0 1.75rem;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 45%;
  }
  
  @media screen and (min-width: 1350px) {
    width: 33%;
  }
}
