@import "../styles/global";
@import "../styles/config";
@import "../styles/menu";

.header {
  position: relative;
  @include margin-width();
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}

.navmenu {
  display: flex;
  &__navlink,
  &__authlink {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__authlink {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    margin-right: 2.4rem;
    list-style: none;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link,
  &__authenlink {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9rem;
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 0;
    position: relative;
  }

  

  &__hover:not(.active) {
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      width: 0%;
      border-bottom: 2px solid #ffb459;
      transition: width 300ms ease-in-out;
    }
    &:hover::before {
      width: 100%;
    }
  }

  &__join {
    color: #fff;
    background: #ffb459;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    padding: 0.625rem 1.875rem;
  }
}

.active {
  border-bottom: 2px solid #FFB459;
}
