div.success,
div.failure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.success > svg, div.failure > svg {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash 1.5s ease-in-out;
    animation: dash 1.5s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1.5s 0.75s ease-in-out forwards;
    animation: dash 1.5s 0.75s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 1.5s 0.75s ease-in-out forwards;
    animation: dash-check 1.5s 0.75s ease-in-out forwards;
  }
}

.text {
  text-align: center;
  font-weight: bold;
  margin: 20px 0 60px;
  font-size: 1.25em;
  &.success {
    color: #119945;
  }
  &.error {
    color: red;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
